<%- include('./partials/header') %>
<%- include('./partials/nav') %>

<div id="about-container">
    <div id="cont">
        <h1>About me</h1>

        <div id="cl-image-container">
            <img src="images/cl.jpg" alt="Claudia" id="cl"/>
        </div>


        <p>Hello! My name is Claudia. I am a software developer and I created this page just for fun. I love NASA and always check <a href="https://apod.nasa.gov/apod/astropix.html">APOD's official page</a> so I wanted to create something similar but a bit more simple using their API!</p>
        <p><strong> I hope you enjoy this page.</strong> </p>
    </div>

</div>

<%- include('./partials/footer') %>